<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/c143000470.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="contact-info"></div>
            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>

                <form action="index.html">
                    <h3 class="title">Contact us</h3>
                    <div class="input-container">
                        <input type="text" name="name" id="name" class="input">
                        <label for="">Username</label>
                    </div>
                    <div class="input-container">
                        <input type="email" name="email" id="email" class="input">
                        <label for="">Email</label>
                    </div>
                    <div class="input-container">
                        <input type="tel" name="phone" id="phone" class="input">
                        <label for="">Phone</label>
                    </div>
                    <div class="input-container textarea">
                        <textarea name="message" id="message" class="input"></textarea>
                        <label for="">Message</label>
                    </div>
                    <input type="submit" value="Send" class="btn">
                </form>
            </div>
        </div>
    </div>
</body>

</html>